body {
  color: #fff;
  font-family: 'SF Display', 'Open Sans', sans-serif, Arial !important;
  font-size: 0.8rem !important;
  background-color: #1b1c3f !important;
  letter-spacing: 0 !important;
}

ul {
  list-style: none !important;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

option {
  color: #000 !important;
}
td {
  font-weight: normal;
  letter-spacing: 1px;
}
