// Colors
$primary-color: #55A7E5;
$secondary-color: #2F3A65;
$third-color: #FF5B5B;
$four-color: #333333;
$hover-color: #2F3A65;
$logo-color: #51bc8a;

// Currencies
$bitcoint-color: #f7931a;

// Buttons
$primary-button: $primary-color;

$buy-color: $primary-color;
$sell-color: $third-color;

$transaction-animation-color: yellow;

// Fonts
$primary-font: 'SF Display', 'Open Sans', sans-serif, Arial;
