.place-order-btn {
  display: inline-block !important;
  width: 50% !important;
}

.place-order-btn-yes {
  background: #126de5 !important;
}

.place-order-btn-no {
  background: #111 !important;
}

.place-order-btn-delete {
  background: red !important;
}
